<app-navbar></app-navbar>
<div class="mb-2">
    <h1 class="text-center py-2"> Rent a Car </h1> 
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
<div class="col-sm">
    <span>    
        <div>
      <h2> Perfect </h2>
    </div>

<!-- Section Agency Perfect -->

      <div class="float-left">
      <img src="../../../../../assets/logoPerfect.png" class="img-fluid" alt="Logo Perfect">
    </div>
    <p>Perfect doo Tuzla is a renowned car rental agency, positioned at the very top of the Bosnian-Herzegovinian market,
        which based its existence on long-term education, experience, knowledge and work of management and employees.
        The leading position provides us with knowledge, reliability, experience, tradition, innovation and following the world trends
        automotive industry and comfortable / safe travel. We are a professional and courteous young team of people who will come out at any moment
        Meet the client and do everything to be satisfied with our services. This is supported by a large number of permanent clients,
        who regularly show us their trust by choosing a vehicle from our offer. The company's headquarters are located in Tuzla and you can rent a vehicle
        to be realized in the central office, as well as in the office at the International Airport Tuzla, as well as on request, in any city of BiH and Europe.
        Inspired by the sophisticated wishes of long-time clients, they concentrated on renting car services that meet even the most demanding customers.
         The fleet consists of brand new vehicles of all categories. All vehicles are fully insured, without any damage,
         have a general and mobile warranty, all legally prescribed equipment and do not exceed the age of 2 years.
          The fleet offers you passenger cars of world-renowned manufacturers that offer absolute comfort,
          safety and speed, both in urban and out-of-town driving.
          {{ datum }}
          <div class="row justify-content-center" >
        <div id="contactRentCar" class="col-6 mb-2 mx-1" >
          <h5 class="pt-2"> <u> Contact </u> </h5>
          <p class="px-2">
             <b  class="fa fa-phone"> </b> <b> Phone:</b> +387(0) 35 255 535 <br>
            <b class="fa fa-envelope-o"> </b> <b> Email: </b> info@perfect.ba <br>
            <b class="fas fa-map-marker-alt"> </b> <b> Address: </b> Zavnobih-a 13 Hotel Tuzla, 75000 Tuzla, Bosna i Hercegovina <br> 
            </p>
            <a class="btn btn-info" href="https://www.perfect.ba/?page_id=157" target="_blank" role="button"> Website </a> 
        </div>
        <div id="contactRentCar" class="col-4 mb-2 mx-1 text-left" >
          <h5 class="pt-2 text-center"> <u> Working hours </u> </h5>
          <b> Mon-Fri: </b> <br> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08-17 <br>
            <b>Saturday: </b> <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08-14 <br>
            <p *ngIf='openedPerfect' class="text-center pt-2" style="font-size:30px; color: green;">
              <b> Opened now</b></p>
              <p *ngIf='!openedPerfect' class="text-center pt-2" style="font-size:30px; color: red;">
                <b> Closed now</b></p>
        </div>
      </div>
  </span>
</div>
</div>

<!-- Section Agency Intercar -->

<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
    <div class="col-sm">
    <span>
        <div>
            <h2> Intercar </h2>
          </div>
            <div class="float-left">
            <img src="../../../../../assets/logoIntercar.png" class="img-fluid" alt="Logo Intercar">
          </div>
        <p>Intercar je rent a car agency positioned at the very top of the Bosnian-Herzegovinian market.
           A well-thought-out business organization and an experienced network of associates are able to
           rent a car service to cover the whole area of ​​BiH, and at your request
           organize a rental car in other parts of Europe. Provide complete mobility and transfers in the optimal way
           conditions for users. Intercar also has cooperation with all the airports in the region
            (Sarajevo, Belgrade, Zagreb, Split, Dubrovnik) and
            carries out the delivery and takeover of the vehicle at the mentioned destinations. Intercar is a rent a car agency
            positioned at the very top of the Bosnian-Herzegovinian market
            since 2001. Leadership provides us with knowledge, reliability, experience, tradition, innovation and
            tracking global trends in automotive industry innovation and travel.
           We are able to work with a thoughtful organization of business and an experienced network of associates
            Rent a car services to cover the whole area of ​​BiH in a good way, and we will ask for your request
            Organize a rental car in other parts of Europe.
            Intercar offers its services in 7 branches in all major cities of BiH.
            We own a fleet with around 200 new models of passenger and freight vehicles from the group
            AUDI, SEAT, VW, ŠKODA, TOYOTA, NISSAN, CHEVROLET, with the finest equipment tailored to business travel requirements.
            We offer complete mobility and transfers under the optimum conditions for users.
            Intercar also has cooperation with all airports in the region (Sarajevo, Belgrade, Zagreb, Split, Dubrovnik) and delivers
            and download the vehicle at the mentioned destinations. And not just that. We are available 24 hours a day for all 365 days a year
            whereby we guarantee you superior service and complete technical support!
             </p>
             <div class="row justify-content-center" >
                <div id="contactRentCar" class="col-6 mb-2 mx-1" >
                  <h5 class="pt-2"> <u> Contact </u> </h5>
                  <p class="px-2">
                     <b  class="fa fa-phone"> </b> <b> Phone:</b> +387 35 247 247 <br>
                    <b class="fa fa-envelope-o"> </b> <b> Email: </b> tuzla@intercar.ba <br>
                    <b class="fas fa-map-marker-alt"> </b> <b> Address: </b> Turalibegova bb, Tuzla <br> 
                    </p>
                  <a class="btn btn-info" href="https://www.intercar.ba/o-nama.php" target="_blank" role="button"> Website </a> 
              </div>
              <div id="contactRentCar" class="col-4 mb-2 mx-1 text-left" >
                  <h5 class="pt-2 text-center"> <u> Working hours </u> </h5>
                  <b> Mon-Fri: </b> <br> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08-17 <br>
                    <b>Saturday: </b> <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08-15 <br>
                    <p *ngIf='openedIntercar' class="text-center pt-2" style="font-size:30px; color: green;">
                      <b> Opened now</b></p>
                      <p *ngIf='!openedIntercar' class="text-center pt-2" style="font-size:30px; color: red;">
                        <b> Closed now</b></p>
                </div>
              </div>
   </span>
</div>
</div>

<!-- Section Agency Dalton -->

<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
    <div class="col-sm">
        <span>
          <div>
            <h2> Dalton </h2>
          </div>
            <div class="float-left">
            <img src="../../../../../assets/logoDalton.png" class="img-fluid" alt="Logo Dalton">
          </div>
        <p>In Dalton rent a car agency there are no limits in terms of kilometers that you can cross the vehicles.
            Travel safely and comfortably wherever you want. If you assign multiple vehicles, or one vehicle for a longer period of time,
             approve additional discounts. It is possible to rent vehicles in one direction. You can download a vehicle in one location,
             and bring it back to the other, the one that suits you.
             <div class="row justify-content-center" >
                <div id="contactRentCar" class="col-6 mb-2 mx-1" >
                  <h5 class="pt-2"> <u> Contact </u> </h5>
                  <p class="px-2">
                     <b  class="fa fa-phone"> </b> <b> Phone:</b> +387(0) 35 255 535 <br>
                    <b class="fa fa-envelope-o"> </b> <b> Email: </b> ingo@dalton.ba <br>
                    <b class="fas fa-map-marker-alt"> </b> <b> Address: </b> Armije BiH, Tuzla 75000 <br> 
                    </p>
                <a class="btn btn-info" href="https://dalton.ba/cars.php?lang=en" target="_blank" role="button"> Website </a> 
            </div>
            <div id="contactRentCar" class="col-4 mb-2 mx-1 text-left" >
                <h5 class="pt-2 text-center"> <u> Working hours </u> </h5>
                    <p class="text-center" style="font-size:20px; color: red; padding-top:20%;">
                      <b> Unavailable</b></p>
              </div>
            </div>
      </span>
    </div>
</div>
</div>
<app-footer></app-footer>