<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container">
      <div class="col-md-12">
    <h1>Museums</h1>
  </div>
</div>
</div>
  <div class="row galleries">
    <div class=" col-lg-12 col-md-12 col-xs-12 ">
     <a routerLink="/museum">
      <img class="img-fluid img-thumbnail zoom center" src="assets/culture-img/mus1.jpg" alt="" >
    </a>
      <span>Museum of Easter Bosnia</span>
    </div>
   
      
    
    
  </div>
</div>
<app-footer></app-footer>