
 <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-3">
                <h1>Tuzla attractions map</h1>
            </div>
        </div>
           
    <div class="row">
         <div class="col-xl-12">
             <iframe  style="border: 1px solid black" width="100%" height="700" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.53856332040388&lng=18.680625131213446&vz=16&type=hybrid&ti&s&width=550&height=400&id=4jRDAGTctH"  allowfullscreen></iframe>
         </div>
    </div>
   
</div>

   
