<div class="fixed-top">
  <nav class="navbar container  navbar-expand-lg navbar-dark bg-info">
    <h2><a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Tuzla Tourist Website</a></h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" >
            History
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/history']" routerLinkActive="router-link-active" > History </a>
            <a class="dropdown-item" [routerLink]="['/attraction']" routerLinkActive="router-link-active" > Map of attractions </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
            Sights
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/sights/attractions']" routerLinkActive="router-link-active" >Attractions </a>
            <a class="dropdown-item" [routerLink]="['/sights/map-attractions']" routerLinkActive="router-link-active" > Map attractions </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Culture
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/international']" routerLinkActive="router-link-active"> Galleries </a>
            <a class="dropdown-item" [routerLink]="['/museum']" routerLinkActive="router-link-active"> Museums </a>
          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
            Transport
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/airports']" routerLinkActive="router-link-active"> 
              <b class="fa fa-plane"></b> Airports </a>
            <a class="dropdown-item" [routerLink]="['/rentacar']" routerLinkActive="router-link-active"> 
              <b class="fa fa-car"></b> Rent a car </a>
            <a class="dropdown-item" [routerLink]="['/taxi']" routerLinkActive="router-link-active"> 
              <b class="fa fa-taxi"></b> Taxi </a>
            <a class="dropdown-item" [routerLink]="['/publictransport']" routerLinkActive="router-link-active"> 
              <b class="fa fa-bus"></b> Public transport </a>
            <a class="dropdown-item" [routerLink]="['/nextbike']" routerLinkActive="router-link-active"> 
              <b class="fa fa-bicycle"></b> Nextbike </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
            Accomodation
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/accomodation/hotels']" routerLinkActive="router-link-active"  > Hotels </a>
            <a class="dropdown-item" [routerLink]="['/accomodation/restaurants']" routerLinkActive="router-link-active" > Restaurants </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
            Virtual tour
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/virtual-tour/tour-360']" routerLinkActive="router-link-active" > 360 </a>
            <a class="dropdown-item" [routerLink]="['/virtual-tour/city-map']" routerLinkActive="router-link-active" > City Map </a>
           
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/aboutus']" routerLinkActive="router-link-active" >About us</a>
        </li>
        

       
      </ul>
    
    </div>
  </nav>
</div>