<div class="container fixed-top" style="background-color: #f5f5f0; margin-top:60px; border: solid 1px black;">
    <h1 class="text-center" style="margin-top:10px;"> Nextbike </h1>
    </div>
  <app-navbar></app-navbar>
  
  <div class="pt-2 mb-2" style="margin-top:200px;">

<!-- Section about NexBike -->

<div class="row mx-auto" style="width:75%;">
<div class="col-sm">
<span class="float-left">
      <img class="img-fluid zoom" src="../../../../../assets/nextbike.jpg" alt="nextbike">
  <p> 
    Nextbike system exists in Germany, Austria, Latvia, Poland, Switzerland, Turkey, Hungary, Croatia, 
    Bosnia and Herzegovina and many other countries. Each registered next user can rent a bike in 
    any country where this system exists.</p>

  <!-- Buttons for Web page and price -->

  <div>
      <a class="btn btn-info" href="https://www.nextbike.ba/en/tuzla/" target="_blank" role="button"> Website </a>
      <a class="btn btn-info" href="https://www.nextbike.ba/en/tuzla/prices/" target="_blank" role="button"> Price </a>
    </div>

<!-- Buttons for download NextBike application for iOS, Android and Microsoft -->

    <div>
        <h5> Download app: </h5>
        <a href="https://itunes.apple.com/gb/app/nextbike/id504288371?mt=8" target="_blank">
            <img src="../../../../../assets/logoApple.png" class="img-fluid" alt="Logo Perfect" 
            style="border:0; min-height: 1px; height:30px; width: 105px; margin-top: 0; margin-right: 3px;
            margin-left: 3px;">
          </a>
        <a href="https://play.google.com/store/apps/details?id=de.nextbike&hl=en_GB" target="_blank">
            <img src="../../../../../assets/rsz_logoGoogle.png" class="img-fluid" alt="Google" 
            style="border:0; min-height: 1px; height:30px; width: 105px; margin-top: 0;margin-right: 3px;
            margin-left: 3px;">
          </a>
          <a href="https://www.microsoft.com/en-gb/p/nextbike/9wzdncrdbxk3?activetab=pivot:overviewtab" target="_blank">
            <img src="../../../../../assets/rsz_logoMicrosoft.png" class="img-fluid" alt="Microsoft" 
            style="border:0; min-height: 1px; height:30px; width: 105px; margin-top: 0; margin-right: 3px;
            margin-left: 3px;">
          </a>

    </div>
</span>
</div>
</div>
</div>
<app-footer></app-footer>