
<app-navbar></app-navbar>
<div class="mb-2">
    <h1 class="text-center py-3">Public Transport </h1>
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
<div class="col-sm">
<span class="float-left">
  <h2> Nextbike</h2>
 <img class="d-block w-100" src="../../../../../assets/nextbike.jpg" alt="First slide">
  <p> Nextbike sistem postoji u Njemačkoj, Austriji, Latviji, Poljskoj, Švicarskoj, Turskoj, Mađarskoj,
     Hrvatskoj, Bosni i Hercegovini te mnogim drugim zemljama. Svaki registrovani nextbike korisnik može
      iznajmiti bicikl u bilo kojoj zemlji gdje postoji ovaj sistem.</p>
  <div>
      <a class="btn" href="https://www.nextbike.ba/en/tuzla/" target="_blank" role="button"> Website </a>
      <a class="btn" href="https://www.nextbike.ba/en/tuzla/prices/" target="_blank" role="button"> Price </a>
   </div>
</span>
</div>
</div>
</div>
<app-footer></app-footer>