<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center">Tour 360</h1>
  
  <p>
    The City Guide 360 ​​project is the largest interactive web platform that is exclusively made up of 360 panoramic
    and high-resolution video and high-resolution video conferencing, which makes this platform unique and
    uncompetitive.

    New revolutionary technologies at the heart of the project provide access to the exclusive city view with panoramic
    360 (3D) views, which is an advantage over standard views because it gives the user a virtual three-dimensional
    (reality) feeling that is "on-the-spot".

    Users can enjoy the amenities of all major traffic intersections in the city with the ambient sound (audio option),
    and by pushing the button, they can see the bird perspective of the city with open views of the quays and parks, to
    a wonderful view of the Pannonian Lake in Tuzla.

  </p>
  <iframe class="embed-responsive" width="1024" height="720" src="http://cityguide360.ba/panorama/5bd9e581eba369b00f0255d7/search/ba/"></iframe>
  

</div>
<app-footer></app-footer>