<app-navbar></app-navbar>
   <!-- Pictures and Text from History Tuzla -->
  <div class="row">
  <div class="col-md-12"><h1>History of Tuzla</h1></div>
  <div class="col-md-12">
    <img src="assets/images-history/image-history-1.jpg" class="img-fluid loading" alt="" data-was-processed="true">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <p style="text-align: justify;">
        Tuzla is one of the oldest settlements in Europe with a continuity of living. In Tuzla was found the oldest resort in Europe, dating back to the Neolithic Age (the youngest stone age), unlike other foundations of the so-called settlements in Europe dating from the Iron Age. A large number of Neolithic objects were found in Tuzla, among which a special place is the storage tanks, ie salted water salt vessels.
      </p>

      <p style="text-align: justify;">
        These archeological finds confirm that other Neolithic inhabitants in this area exploited salty springs. The earliest European cultures used by it were dated to the Copper Age, meaning that the neolithic finds in Tuzla move the boundaries of knowledge and use of salt in human nutrition from the age of eneolite to the neolithic age. It should be noted that the Neolithic settlement was found in the very center of today's town of Tuzla, which is a unique case and proof that this settlement was the beginning of the continuity of living in the area of today's city, throughout all historical periods, from Neolith to today.
      </p>

      <p style="text-align: justify;">
        These archeological finds confirm that other Neolithic inhabitants in this area exploited salty springs. The earliest European cultures used by it were dated to the Copper Age, meaning that the neolithic finds in Tuzla move the boundaries of knowledge and use of salt in human nutrition from the age of eneolite to the neolithic age. It should be noted that the Neolithic settlement was found in the very center of today's town of Tuzla, which is a unique case and proof that this settlement was the beginning of the continuity of living in the area of today's city, throughout all historical periods, from Neolith to today.
      </p>
  </div>
</div>
  <div class="row">
    <div class="col-md-12 centered">
      <img src="assets/images-history/image-history-2.jpg" width="1024" height="768" class="aligncenter size-large wp-image-151 loading" alt="" sizes="(max-width: 1024px) 100vw, 1024px" data-was-processed="true">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <p style="text-align: justify;">
          Salt production and its revenues were the key factor that Tuzla had built as kasabu. Organized production and sale of salt is the result of the digging of the wells on today's Sonom Square in 1476 and the proclamation of Tuzla "the Emperor" in 1477. The production of salt is distinguished from the names which were solated by the arrival of the Ottoman Emperor Solana on wood, (Agac Tuzla, Memleha and Cob), thus emphasizing the difference between these and the salt solana.
        </p>
  
        <p style="text-align: justify;">
          
          On the Square of Sona there were up to 80 pots of soda water from the wells. At the beginning, modest amounts of salt were produced, and over time they increased. The reason for this is not so much in technical and technological progress, as in the increase of the population of Tuzla, which was related to salt production. For Tuzla, it was known outside of the Bosnian eyal. In the 17th century, King Louis XIV, through his merchants, acquired the Tuzla for his court. Evidence of this is French coinage with the figure Luja XIV, found in the area of ​​Tuzla. So it connected the various countries, cultures and civilizations of that time. Tuzla's sake was one of the basic articles that introduced the Bosnian eyalet at the International Economic Exposition in Philadelphia in 1876.
        </p>
  
        <p style="text-align: justify;">
          
          One of the basic goals of the annexation of Bosnia and Herzegovina by the Austro-Hungarian monarchy was the exploitation of natural resources, and among them a special place was occupied by the Tuzla war. The first salt mill, built in the suburb of Tuzla, in Simin Hanu, in 1885, was the beginning of industrial salt production in Tuzla. Soon after, the city began to sink, as a result of the uncontrolled sowing of salt from the rock salt deposits, where the city was located. Toning will experience its culmination in the 70s of the last century, when the city remained without several thousand residential, commercial and cultural facilities. It is a god who built and destroyed Tuzla, but also culturally determined in its specialty
        </p>
    </div>
</div>
<app-footer></app-footer>




