<div class="container">

    
 
  <div class="col-md-12">
<h1 class="center">International portrait gallery</h1>


</div>

<div id="demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
</ul>

<!-- The slideshow -->
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="img-fluid center" src="assets/culture-img/at1.jpg" alt="Los Angeles" width="1100" height="500">
  </div>
  <div class="carousel-item ">
    <img  class="img-fluid center" src="assets/culture-img/at22.jpg" alt="Chicago" width="1100" height="500">
  </div>
  <div class="carousel-item ">
    <img  class="img-fluid center" src="assets/culture-img/atelje.jpg" alt="New York" width="1100" height="500">
  </div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>
<p id="aboutA">Međunarodni atelje “Ismet Mujezinović” jedinstven po tome što je u njemu živio i radio jedan od najznačajnijih bosanskohercegovačkih umjetnika, kulturnih radnika i  slikara Ismet Mujezinović,  te su članovi porodice  njegovu kuću i atelje  poklonili Gradu.
Atelje Ismet Mujezinović je zasebna umjetnička radionica u okviru Galerije, koja  okuplja umjetnike sa svih meridijana svijeta, na osnovu ličnog poziva Umjetničkog savjeta Galerije kao i na principu konkursa raspisanog preko nacionalnih umjetničkih udruženja. Boravak u Međunarodnom ateljeu podrazumijeva šestomjesečni boravak i rad likovnih umjetnika, kao i organizaciju samostalne izložbe radova nastalih tokom boravka u Tuzli.
U ateljeu se održavaju brojne  likovne radionice, a osposobljen je i apartman u koji 2 do 3 puta godišnje dolaze umjetnici iz cijele Evrope.
To je mjesto gdje se organizuju koncerti, izložbe, promocije knjiga, a bašta ateljea u centru grada prigodno je mjesto za organizaciju i mnogih drugih događaja.</p>
<iframe id="frame" class='center' width="550" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.53584938207182&lng=18.686772456713925&vz=18&type=hybrid&ti&s&width=550&height=400&id=0qy31Lk5Nr" style="border:0; max-width: 100%;" allowfullscreen allow="geolocation"></iframe>  
</div>