<app-navbar></app-navbar>
<div class="mb-2">
    <h1 class="text-center py-2"> Taxi Service </h1> 
    <img src="../../../../../assets/logoTaxi.png" class="img-fluid" alt="Logo Taxi">
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
<div class="col-sm">
    <span>    
      <h2> Tuzla taxi <br>(15-17) </h2>
    <p class="mx-3">Association “Tuzla taxi” represents the Association of Car Taxi Operators of the City of Tuzla
       and is respectable expert and business the organization of craftsmen who carry out the activity of 
       autotracking transport of persons in public urban traffic in the territory of the City of Tuzla and 
       the region.
       The Association promotes, coordinates and advocates the common interests of affiliated members in which 
       it currently has 250 active taxi drivers.They are distinguished by speed, comfort and safety, 
       and vehicles arrive at your address within five minutes. They are proud of the flexibility and speed
       which allows them to be available from 0 to 24 hours, 365 days a year, making them one of the best taxi 
       services in Bosnia and Herzegovina.
       You can find their services at all taxi locations around the city of Tuzla or by simply dialing 15-17
       where friendly drivers will welcome you and take you safe, comfortable and at affordable prices 
       to your destination in Tuzla, both throughout Bosnia and Herzegovina and Europe.
        <div id="contactRentCar" class="mb-2">
           <h1 class="mt-0" style="margin-right:17%;"> <i class="float-left fa fa-phone-square" 
            style="font-size:100%; padding-top: 15%; margin-left: 7.5%; color:limegreen;"> </i> Call: <br> 15-17 </h1> <hr>
          <a class="btn btn-info" href="http://www.tuzlataxi.com/index.html" target="_blank" role="button"> Website </a> 
        </div>
  </span>
</div>
</div>
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
    <div class="col-sm">
    <span class="float-left">
            <h2> Gradski taxi <br> (15-25) </h2>
        <p class="mx-3">Gradski Taxi 15-25 successfully operates in the city of Tuzla, but also wider.
            By ordering number 15-25, order a taxi in a few minutes. City taxi operates in 10 countries
            and nearly 150 cities around the world.
             </p>
             <div id="contactRentCar" class="mb-2">
                <h1 class="mt-0" style="margin-right:17%;"> <i class="float-left fa fa-phone-square" 
                    style="font-size:100%; padding-top: 15%; margin-left: 7.5%; color:limegreen;"> </i> Call: <br> 15-25 </h1> <hr>
                <a class="btn btn-info" href="http://www.gradskitaxi1525.ba/" target="_blank" role="button"> Website </a>
              </div>
   </span>
</div>
</div>
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
    <div class="col-sm">
        <span class="float-left">
            <h2> Radio taxi non-stop <br> (15-01) </h2>
        <p class="mx-3">
          Radio tax non-stop not just an ordinary taxi, it's a taxi association made up of
          members who are engaged in this job for many years. They know how to answer quality services
          transport of passengers. All of their vehicles are regularly maintained air-conditioned and 
          comfortable so that they can exercise transport and to remote addresses in the country and abroad. 
          They are at your service 24 hours a day for 7 days in the week. Call at any time of the day and 
          Radio taxi will stop at the shortest possible time your address and translate you safely to 
          your desired destination ..</p>
           <div id="contactRentCar" class="mb-2">
              <h1 class="mt-0" style="margin-right:17%;"> <i class="float-left fa fa-phone-square" 
                style="font-size:100%; padding-top: 15%; margin-left: 7.5%; color:limegreen;"> </i> Call: <br> 15-01 </h1> <hr>
              <a class="btn btn-info disabled" href="#" target="_blank" role="button" aria-disabled="true"> Website </a>
            </div>
      </span>
    </div>
</div>
</div>
<app-footer></app-footer>