<app-navbar></app-navbar>
<div class="mb-2">
    <h1 class="text-center py-2"> Taxi Service </h1> 
    <img src="../../../../../assets/logoTaxi.png" class="img-fluid" alt="Logo Taxi">
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
<div class="col-sm">
    <span class="float-left">    
      <h2> Tuzla taxi (15-17) </h2>
    <p class="mx-3">Udruženje “Tuzla taxi” predstavlja udruženje auto taksi prevoznika grada Tuzle i respektabilna je stručno-poslovna 
      organizacija obrtnika koji obavljaju djelatnost autotaksi prevoza osoba u javnom gradskom prometu na području Grada Tuzle i regiona.
       Udruženje promoviše, usklađuje i zastupa zajedničke interese udruženih članova u kome trenutno ima ima 250 aktivnih taksista.
     Odlikuje ih brzina, udobnost i sigurnost, a vozila na vašu adresu stižu u roku od pet minuta. Ponosni su na fleksibilnost i brzinu 
     koja im omogućuju da budu dostupni od 0 do 24 sata, 365 dana u godini, što ih svrstava među najbolje taksi službe u Bosni i Hercegovini.
      Njihove usluge možete potražiti na svim taksi stajalištima širom grada Tuzle ili jednostavnim telefonskim pozivom na broj 15-17 
      gdje će vas dočekati ljubazni vozači i odvesti sigurno, udobno i po povoljnim cijenama do vašeg odredišta kako u Tuzli, 
      tako i širom Bosne i Hercegovine i Evrope.
        <div id="contactRentCar" class="mb-2">
          <h1 class="mt-0"> Call: 15-17 </h1> <hr>
          <a class="btn" href="http://www.tuzlataxi.com/index.html" target="_blank" role="button"> Website </a> 
        </div>
  </span>
</div>
</div>
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
    <div class="col-sm">
    <span class="float-left">
            <h2> Gradski taxi (15-25) </h2>
        <p class="mx-3">Gradski Taxi 15-25 uspješno djeluje na području grada Tuzla, ali i šire. 
          Pozivom na broj 15-25 naručite taxi za nekoliko minuta. Gradski taxi radi u 10 zemalja 
          i gotovo 150 gradova širom svijeta.
             </p>
             <div id="contactRentCar" class="mb-2">
                <h1 class="mt-0"> Call: 15-25 </h1> <hr>
                <a class="btn" href="http://www.gradskitaxi1525.ba/" target="_blank" role="button"> Website </a>
              </div>
   </span>
</div>
</div>
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:75%">
    <div class="col-sm">
        <span class="float-left">
            <h2> Radio taxi non-stop (15-01) </h2>
        <p class="mx-3">Radio tax non-stop nije samo običan taxi, to je taxi udruženje sastavljeno od 
          članova koji se bave ovim poslom dugi niz godina. Oni znaju kako da odgovore kvalitetnom uslugomu 
          prevozu putnika. Sva njihova vozila su redovno održavana klimatizirana i udobna tako da mogu vršiti
           prevoz i na udaljene adrese u zemlji i inostranstvu. Stoje vam na usluzi 24 sata na dan 7 dana 
           u sedmici. Nazovite u bilo koje doba dana i Radio taxi non-stop će u najkraćem roku doći na 
           vašu adresu i prevesti vas sigurno na željenu destinaciju..</p>
           <div id="contactRentCar" class="mb-2">
              <h1 class="mt-0"> Call: 15-01 </h1> <hr>
              <a class="btn disabled" href="#" target="_blank" role="button" aria-disabled="true"> Website </a>
            </div>
      </span>
    </div>
</div>
</div>
<app-footer></app-footer>