<app-navbar></app-navbar>
<div class="container">
<!-- Paragraph about History Tuzla-->
<div class="row">
    <div class="col-md-12"><h3 class="title">About Tuzla</h3></div>
    <div class="col-md-6">
      <img src="../../../../assets/images-history/tuzla.jpg" class="img-fluid loading" alt="" data-was-processed="true">
    </div>
    <div class="col-md-6">
        <p> 
            Tuzla is one of the oldest settlements in Europe with a continuity of living. The remains of an old settlement of the Sojenič type from the Neolithic period were also evidenced. Archaeologists have discovered numerous settlements with rich remains of the material culture of the ancient inhabitants of this area. A large number of Neolithic clay pots were found with various ornaments of black, gray and red ceramics as well as stone blocks, axes, scrapers and others. Remains of food, human bones, animal bones, and various fruits that used to feed people of that age were discovered. And these data confirmed the claims that the area of ​​Tuzla was inhabited even in the younger stone age.
            Among the archaeological finds found,a ceramic neolithic bowl was used, which was intended for cooking salty water and producing salt.              
            The first written mention of Tuzla dates from 950."On Governance of the State" explicitly mentioned Tuzla as a city, under the Roman name Salines meaning the town of salt, with the reminder that it is part of Raška knez Časlava.

            
        </p>
    </div>
</div>
  

<!-- Paragraph about the crime on Kapija-->
<div class="row">
  <div class="col-md-12"><h3 class="title">The crime on Kapija</h3></div>
  <div class="col-md-6">
    <img src="assets/images-history/zlocin.jpg" class="img-fluid loading" alt="" data-was-processed="true">
  </div>
  <div class="col-md-6">
      <p> The massacre at Kapija, also known as 'The Crime of Tuzla's Youth', 
          took place on May 25, 1995 in Tuzla. At 20: 55h, Ozren's Chetnik-Serbian hordes fired a grenade at the Kapija promenade in downtown Tuzla, 
          killing 71 people and wound more than 200 people. The youngest victim was only 3 years old. Up to now, the officer of Republika Srpska Army,
          Novak Đukić, was sentenced to 25 years in prison for a crime before the first instance court. That day they died: Dedovic Razija, Brguljak Alma,
          Senad Hasanović, Ramić Fahrudin, Marinovic Pera, Saban Mustačević, Edhem Sarajlić, Adnan Beganović, Asmir Bakalović, Dušić Suzana, Ćerimović Almasa, 
          Dapa Amir, Duzel Amir, Vesna Kurtalić, Stjepanović Petar, Elvis Alagić, Lejla Atiković, Armić Šišić, Ponjavic Rusmir, Alem Hidanović, Dedić Zada, 
          Vanja Kurbegović, Stojčić Jelena, Hrusta Nikola Hasa, Hadžić Ago, Selce Caušević, Nejan Miljanovic, Adrijana Milic, Cirak Samir, Fatušić Muri,
          Murselovic Elvir, Adan Saimovic, Jasminka Sarajlić.
      </p>
  </div>
</div>

<!-- Paragraph about the building of Behram-begova-medresa has been restored-->
<div class="row">
    <div class="col-md-12"><h3 class="title">The building of Behram-begova-medresa has been restored</h3></div>
    <div class="col-md-6">
      <img src="../../../../assets/images-history/behram-begova-medresa.jpg" class="img-fluid loading" alt="" data-was-processed="true">
    </div>
    <div class="col-md-6">
        <p> 
            At the headquarters of the Muftiyah, a meeting was held in Tuzla, where the issue of the restoration of Behram-bey's (Mosque) mosque was opened, as well as the construction of the old building of the Behram-bey medrese at its first location.
            The meeting was attended by the Mujahideen of Tuzla Vahid-ef. Fazlović, Secretary of the Muffinhood Muamer Zukić, Director of the Institute for Protection and Use of Cultural and Historical and Natural Heritage of Tuzla Canton Benjamin Bajraktarević, Behram-bey's Madras Director and his Assistants Ahmed Hatunić, Mehmedalija Čandić and Mensur Husić, Major Imam Miz Tuzla Ahmed Huskanović, President MIZ - Tuzla and his associates Hasan Spahić, Dženan Rahmanović and Elmedin Avdibašić.
            At the meeting, specific activities related to the preparation of the necessary documentation (land-book, urban-planning, geological, geodetic and other) were agreed upon, analyzed and supplemented, so that reconstruction and construction.

        </p>
    </div>
  </div>

  <!-- Paragraph about partisan units free Tuzla-->
  <div class="row">
      <div class="col-md-12"><h3 class="title">Partisan units free Tuzla</h3></div>
      <div class="col-md-6">
        <img src="assets/images-history/oslobodjena_tuzla.jpg" class="img-fluid loading" alt="" data-was-processed="true">
      </div>
      <div class="col-md-6">
          <p> 
              When during the Second World War on October 2, 1943, the Partisans unleashed Tuzla from the occupier, Tuzla was the most liberated city in Europe. The liberation of Tuzla on October 2, 1943, represented the great military and political victory that the anti-fascist units NOV and POJ performed, that is, it was one of the most significant victories in the past. Slobodna Tuzla - as an important economic and political center, a significant military and strategic position of the occupier, the crossroads of the roads, the freemason echoed primarily in those parts of the East of the population of Bosnia that had not yet opted for NOP, even though they were anti-fascist.
              First and foremost, the Muslim and Croat population were massively anti-fascist, and many Serb villages where the Chetniks had so far had an influence, and increasingly opted for a narcotics liberation anti-fascist movement.
          </p>
      </div>
  </div>

  <!-- Paragraph about the biggest square in Bosnia and Herzegovina has opened-->
  <div class="row">
      <div class="col-md-12"><h3 class="title">The biggest square in Bosnia and Herzegovina has opened</h3></div>
      <div class="col-md-6">
        <img src="assets/images-history/trg-slobode.jpg" class="img-fluid loading" id="lastPicture"alt="" data-was-processed="true">
      </div>
      <div class="col-md-6">
          <p id="lastText"> 
              In Tuzla on 7th August 2009 the Freedom Square, which is also the largest square in BiH, is officially opened. Realization of this project is an important step in the history of Tuzla. In early August 2008, the Municipality of Tuzla started implementing a project for the design of the oldest square in the city and the promenade area of about 6,000 square meters, for which two and a half million marks were allocated. The dominant place on the square occupies a large fountain whose exterior walls are decorated with ornaments of stećak, but that on the Square of Freedom will not be the only symbols of medieval Bosnia. Namely, on the part where the oldest green area was preserved, and the old fountain until recently was erected a statue symbolizing the stećak, and the epitaphs of medieval tombstones were engraved on the marble slabs where the site was coated. It is planned to build a town house on the square in the next period on the foundation.
          </p>
      </div>
  </div>
</div>

<app-footer></app-footer>




