<div class="fixed-top" style="background-color:white;">
   <h1 class="text-center py-3"> Airports </h1>
    <div class="dropdown" style="text-align:center;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">
          Airports:
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
  </div>
<app-navbar></app-navbar>

<div class="mb-2" style="margin-top:240px;">
   
<!-- Section Airport Tuzla -->

<div id="backgroundColorAndBorder" class="row mx-auto" style="width:100%;">
<div class="col-sm">
    <span class="float-left">
      <h2> Tuzla </h2>
      <h6> <b class="fa fa-car"></b> Distance to Tuzla: <b>14.6 km</b></h6>
      <a class="btn btn-info" href="https://www.tuzla-airport.ba/en/" target="_blank" role="button"> Website </a>
      <img src="../../../../../assets/rsz_tuzlaAirport.jpg" class="img-fluid zoom" alt="Tuzla Airport">
    <p class="mx-3">Tuzla International Airport (Bosnian: Međunarodni aerodrom Tuzla) is an airport near Tuzla, Bosnia and Herzegovina. 
     Tuzla International Airport is second largest airport in Bosnia and Herzegovina,
      after Sarajevo International Airport. The airport is known as a low-cost airline hub 
      of Bosnia and Herzegovina, since it is used by people from Bosnia, 
    the diaspora and travelers from neighboring countries Croatia and Serbia. 
    The airport is a civilian airport and a military airbase.
  </span>
</div>
</div>

<!-- Section Airport Sarajevo -->
<div id="backgroundColorAndBorder" class="row mx-auto" style="width:100%">
    <div class="col-sm">
    <span class="float-left">
        <h2> Sarajevo </h2>
        <h6> <b class="fa fa-car"></b> Distance to Tuzla: <b>140.76 km</b></h6>
        <a class="btn btn-info" href="https://www.sarajevo-airport.ba/?lang=eng" target="_blank" role="button"> Website </a>
        <img src="../../../../../assets/rsz_sarajevoAirport.jpg" class="img-fluid zoom" alt="Sarajevo Airport">
        <p class="mx-3">Sarajevo International Airport (Bosnian: Međunarodni aerodrom Sarajevo) also known as Butmir Airport,
           is the main international airport in Bosnia and Herzegovina, serving Sarajevo, capital of Bosnia and Herzegovina. 
           It is located 3.3 NM (6.1 km; 3.8 mi) southwest of the Sarajevo railway station and some 6.5 NM (12.0 km; 7.5 mi)
            west of downtown Sarajevo in the Ilidža municipality, suburb of Butmir. In 2017, 957,971 passengers traveled through the airport,
            compared to 323,499 in 2001</p>
   </span>
</div>
</div>

<!-- Section Airport Belgrade -->

<div id="backgroundColorAndBorder" class="row mx-auto" style="width:100%">
    <div class="col-sm">
        <span class="float-left">
          <h2> Belgrade </h2>
          <h6> <b class="fa fa-car"></b> Distance to Tuzla: <b>200 km</b></h6>
          <a class="btn btn-info" href="http://www.beg.aero/en/home" target="_blank" role="button"> Website </a>
          <img src="../../../../../assets/rsz_beogradAirport.jpg" class="img-fluid zoom" alt="Beograd Airport">
        <p class="mx-3">Belgrade Nikola Tesla Airport (Serbian: Aerodrom Nikola Tesla Beograd) is an international airport serving Belgrade, 
          Serbia. Previously known as Belgrade Airport (Serbian: Aerodrom Beograd) or Surčin Airport 
          (Serbian: Aerodrom Surčin), it was renamed in 2006 in honor of Serbian scientist and inventor Nikola Tesla.
           It is the largest and busiest airport in Serbia, situated 18 km (11 mi) west of downtown Belgrade near the suburb of Surčin, 
           surrounded by Syrmia's fertile lowlands.

          The flag carrier and largest airline of Serbia, Air Serbia, uses Belgrade Nikola Tesla as their hub. 
          It is also one of the operating bases for low-cost airline Wizz Air. The air taxi services Air Pink, Eagle Express and 
          Prince Aviation also call the airport their home. The airport is operated by the state-owned company "Aerodrom Nikola Tesla Beograd".
      </span>
    </div>
</div>

<!-- Section Airport Zagreb -->

<div id="backgroundColorAndBorder" class="row mx-auto" style="width:100%">
    <div class="col-sm">
        <span class="float-left">
            <h2> Zagreb </h2>
            <h6> <b class="fa fa-car"></b> Distance to Tuzla: <b>335 km</b></h6>
            <a class="btn btn-info" href="http://www.zagreb-airport.hr/en" target="_blank" role="button"> Website </a>
            <img src="../../../../../assets/rsz_zagrebAirport.jpg" class="img-fluid zoom" alt="Zagreb Airport">
            <p class="mx-3">Franjo Tuđman Airport (Croatian: Zračna luka „Franjo Tuđman”) also known as Zagreb Airport, 
              is the largest and busiest international airport in Croatia. In 2017 it handled around 3.1 million passengers 
              and some 12,000 tons of cargo.

              Named after Franjo Tuđman, the first President of Croatia, the airport is located some 10 km (6.2 mi) 
              south-east of Zagreb Central Station[4] at Velika Gorica. It is the hub for the Croatian flag carrier 
              Croatia Airlines as well as Trade Air. A base of the Croatian Air Force is located within the airport complex, 
              in barracks called "Colonel Marko Živković". An administrative centre of the Croatian Air Traffic Control is also 
              situated on the grounds of the airport.
                
                The airport was awarded to the ZAIC consortium (Zagreb Airport International Company) in a 30-year concession 
                under the terms of a contract signed by the Government of Croatia with the aforementioned. 
                The contract includes the financing, designing and construction of a new passenger terminal which 
                was completed in March 2017. For the purpose of managing the airport ZAIC registered a company called MZLZ d.d. 
                (Međunarodna zračna luka Zagreb d.d.) that is now the operator of the Airport.</p>
       </span>
    </div>
    </div>
    </div>
<app-footer></app-footer>