* {
    box-sizing: border-box;
}

.box1 {
    /* background: lightgrey; */
    /* border: 1px solid black; */
    border-left: 0.1pt solid black; 
    border-top: 0.1pt solid black; 

}

.box2 {
    /* background: lightgrey; */
    /* border: 1px solid black; */
    border-right: 0.1pt solid black; 
    border-left: 0.1pt solid black;
    border-top: 0.1pt solid black;
}

.box1 p {
    padding: 20px 10px;
}

.box2 p {
    padding: 20px 10px;
}

h1 {
    padding: 15px;
    padding-bottom: 5px;
    margin-top: 60px;
    margin-bottom: 0;
    
}

h3 {
    padding: 20px 0 10px 0;
}

h4 {
    padding: 5px 10px;
    text-align: center;
}

img {
    width: 100%;
    max-width: 100%
}

.btn a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.btn {
    display: block;
    margin: 10px auto;
    margin-top: 0;
}

.card {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    
}


.card-header {
    box-shadow: -.5px 0 0 #818181;
}

.card-body {
    background: lightgrey;
    border: 1px lightgrey solid;
    border-radius: 1%;
}

.accordion {
    margin-bottom: 5px;
    /* width: 30%; */
}


.row {
    margin-top: 230px;
}


.fixed-top {
    
    background: #f5f5f0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    
} 

@media (min-width: 320px) and (max-width: 991px) {
  
    #box1 {
        background: lightgrey;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }

    #box2 {
        background: lightgrey;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }


    
  }

.card-body img {
    width: 100%;
    height: 250px;
}

/* .zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus { */
    /**adjust scale to desired size, 
    add browser prefixes**/

    /* -ms-transform: scale(2.5);    
    -moz-transform: scale(2.5);  
    -webkit-transform: scale(2.5);  
    -o-transform: scale(2.5);  
    transform: scale(2.5);    
    position:relative;      
    z-index:100;  
    } */
    
    /**To keep upscaled images visible on mobile, 
    increase left & right margins a bit**/  

    /* @media only screen and (max-width: 768px) {   
    ul.gallery {      
    margin-left: 15vw;       
    margin-right: 15vw;
    } */
    
    /**TIP: Easy escape for touch screens,
    give gallery's parent container a cursor: pointer.**/

    /* .DivName {cursor: pointer}
    }  */