<div class="container">
  <h1 class="text-center">Restaurants</h1>
  <div class="row">
    <div id="box1" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">Pub Taverna</h3>
      <button class="btn btn-info"><a target="_blank" href="http://www.pivaratuzla.ba/PivnicaTaverna/">Website</a></button>
      <img src="../../../assets/restaurants-img/taverna.jpg" alt="Hotel Mallain">
      <p>
        With many years of tradition and a new ambiance, Pub Taverna is an indispensable place for those who are
        looking for the best. Famous for its specialties and unfiltered beer, it is a perfect place to come to a family
        lunch, relaxing drinks after work or evening with friends. <br><br><br><br>
      </p>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Reservation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


              <div class="card-body text-dark">
                <p class="card-text">
                  Address: Aleja Alija Izetbegović no. 3
                  <br>
                  Phone: +387 35 365 500
                  <br>
                  Email: info@mellainhotel.com
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Gallery
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <img class="zoom" src="http://www.pivaratuzla.ba/PivnicaTaverna/galerija4/Pivnica%20Taverna%204%201.jpg"
              alt="">
            <img class="zoom" src="http://www.pivaratuzla.ba/PivnicaTaverna/galerija2/Pivnica%20Taverna%202%201.jpg"
              alt="">
            <img src="http://www.pivaratuzla.ba/PivnicaTaverna/galerija4/Pivnica%20Taverna%204%206.jpg" alt="" class="zoom">
            <img src="http://www.pivaratuzla.ba/PivnicaTaverna/galerija4/Pivnica%20Taverna%204%205.JPG" alt="" class="zoom">
          </div>
        </div>
      </div>
    </div>



    <div id="box2" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">Zlatnik</h3>
      <button class="btn btn-info"><a target="_blank" href="https://www.restoranzlatnik.com/">Website</a></button>
      <img src="https://tztz.ba/ba/wp-content/uploads/2018/07/zlatnik.jpg" alt="Zlatnik">
      <p>
        In the very center of the city, next to the Slana Banja promenade, Restaurant Zlatnik is located. In the heart
        of nature, next to the Pannonian Lake, there is a restaurant with a beautiful ambience decorated with a
        spacious summer garden. An extraordinary rich gastronomic offer, ranging from traditional dishes to various
        international dishes to the most demanding guest, will provide the ultimate pleasure in every bit of food.
      </p>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Reservation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


              <div class="card-body text-dark">
                <p class="card-text">
                  Address: Šetalište Slana banja, Tuzla
                  <br>
                  Phone: 035 261-225
                  <br>
                  Email:
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Gallery
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <img class="zoom" src="https://sites4.dostavljac.com/wp-content/uploads/2018/09/12376608_434942980049470_6821361197506275910_n.jpg"
              alt="">
            <img class="zoom" src="https://sites4.dostavljac.com/wp-content/uploads/2018/09/12342383_434942566716178_3429196752609054548_n.jpg"
              alt="">
            <img src="https://sites4.dostavljac.com/wp-content/uploads/2018/09/12360179_434942550049513_7628705526350220924_n.jpg"
              alt="" class="zoom">
            <img src="https://sites4.dostavljac.com/wp-content/uploads/2018/09/12321149_434942770049491_4359574605116749225_n.jpg"
              alt="" class="zoom">
          </div>
        </div>
      </div>
    </div>

    <div id="box1" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">Sezam</h3>
      <button class="btn btn-info"><a target="_blank" href="https://www.restoranisezam.com/">Website</a></button>
      <img src="https://tztz.ba/ba/wp-content/uploads/2018/07/tenis.jpg" alt="Sezam">
      <p>
        Restaurants 'Sezam'have long been known for their name and brand in Tuzla, as well as for visitors and for sure
        a large number of visitors and tourists. From their rich offer, they offer grilled specialties, excellent
        Bosnian cuisine, ready-to-eat dishes, various specialties to meat, dishes on order, cheeses, pizzas and a great
        selection of cakes and treats.
      </p>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Reservation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


              <div class="card-body text-dark">
                <p class="card-text">
                  Address: Šetalište Slana Banja bb
                  <br>
                  Phone: 035 273-544
                  <br>
                  Email:
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Gallery
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <img class="zoom" src="https://sites3.dostavljac.com/wp-content/uploads/2018/06/31945435_841768186030725_3353741886144643072_o.jpg"
              alt="">
            <img class="zoom" src="https://sites3.dostavljac.com/wp-content/uploads/2018/06/33664696_851312761742934_7331295572663468032_o.jpg"
              alt="">
            <img src="https://sites3.dostavljac.com/wp-content/uploads/2018/06/35098135_858032587737618_6088872455756054528_o.jpg"
              alt="" class="zoom">
            <img src="https://sites3.dostavljac.com/wp-content/uploads/2018/06/34963604_858029684404575_7682660855669850112_o.jpg"
              alt="" class="zoom">
          </div>
        </div>
      </div>
    </div>

    <div id="box2" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">Royal</h3>
      <button class="btn btn-info"><a target="_blank" href="https://www.royalmotel.ba/o-nama/">Website</a></button>
      <img src="https://tztz.ba/ba/wp-content/uploads/2018/07/restoranlovac.jpg" alt="Royal">
      <p>
        The restaurant 'Royal' in a pleasant ambience offers its guests a diverse Mediterranean but also imaginative
        Italian cuisine that is rare in this area. In addition to unusual dishes and unique, Royal Restaurant is able
        to arrange weddings or other festive occasions or business lunches so that it remains in an unforgettable
        memory.
      </p>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Reservation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


              <div class="card-body text-dark">
                <p class="card-text">
                  Address: Bosne srebrene 105/A
                  <br>
                  Phone: +387 35 315 666
                  <br>
                  Email: info@royalmotel.ba
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Gallery
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <img class="zoom" src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/45733569_762235810784590_5004698169078972416_n.jpg?_nc_cat=105&_nc_ht=scontent.fsjj2-1.fna&oh=e4201d386675111b602e788efaa0ccea&oe=5C73C09D"
              alt="">
            <img class="zoom" src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/44916299_754602148214623_3173753177002475520_n.jpg?_nc_cat=104&_nc_ht=scontent.fsjj2-1.fna&oh=9363ed87f53c0e257d6acd474f1b0bd4&oe=5C80C9A1"
              alt="">
            <img src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/43675351_746051849069653_5920263855170125824_n.jpg?_nc_cat=101&_nc_ht=scontent.fsjj2-1.fna&oh=7c1e65952c3e7dcebc0ad5bff4bbc366&oe=5C7583E4"
              alt="" class="zoom">
            <img src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/43951117_747175878957250_8706464025472401408_n.jpg?_nc_cat=110&_nc_ht=scontent.fsjj2-1.fna&oh=51fcd4ce957181d49f5e7bb50def93c8&oe=5C65DD41"
              alt="" class="zoom">
          </div>
        </div>
      </div>
    </div>

    <div id="box1" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">Citta del Sale</h3>
      <button class="btn btn-info"><a target="_blank" href="https://www.tripadvisor.com/Restaurant_Review-g303197-d1094154-Reviews-Citta_del_Sale-Tuzla_Tuzla_Canton.html">Website</a></button>
      <img src="https://tztz.ba/ba/wp-content/uploads/2018/07/cittadelsale.jpg" alt="Royal">
      <p>
        In the Citta del Sale, you can enjoy grilled specialties, top-class Bosnian cuisine, prepared meals, a variety
        of meat specialties, dishes to order. Meals prepared and served from always fresh foods, meat and carefully
        selected ingredients are certainly a recipe for their success. <br><br><br>
      </p>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Reservation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


              <div class="card-body text-dark">
                <p class="card-text">
                  Address: Korzo, Tuzla

                  <br>
                  Phone: +387 62 860 105
                  <br>
                  Email:
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Gallery
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <!-- <img class="zoom" src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/45733569_762235810784590_5004698169078972416_n.jpg?_nc_cat=105&_nc_ht=scontent.fsjj2-1.fna&oh=e4201d386675111b602e788efaa0ccea&oe=5C73C09D"
              alt="">
            <img class="zoom" src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/44916299_754602148214623_3173753177002475520_n.jpg?_nc_cat=104&_nc_ht=scontent.fsjj2-1.fna&oh=9363ed87f53c0e257d6acd474f1b0bd4&oe=5C80C9A1"
              alt="">
            <img src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/43675351_746051849069653_5920263855170125824_n.jpg?_nc_cat=101&_nc_ht=scontent.fsjj2-1.fna&oh=7c1e65952c3e7dcebc0ad5bff4bbc366&oe=5C7583E4" alt="" class="zoom">
            <img src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/43951117_747175878957250_8706464025472401408_n.jpg?_nc_cat=110&_nc_ht=scontent.fsjj2-1.fna&oh=51fcd4ce957181d49f5e7bb50def93c8&oe=5C65DD41" alt="" class="zoom"> -->
          </div>
        </div>
      </div>
    </div>

    <div id="box2" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">Česma</h3>
      <button class="btn btn-info"><a target="_blank" href="https://restoran-carsijska-cesma.business.site/">Website</a></button>
      <img src="https://tztz.ba/ba/wp-content/uploads/2018/07/restorancesma.jpg" alt="Česma">
      <p>
        The 'Česma', as the Tuzlaci call this restaurant, is entirely decorated in Bosnian style. The exterior of the
        building reminds you of an antique Bosnian house, and the interior of the ambience is full of details and items
        that were once used and which will take you for a moment to the past. This restaurant, the first is a station
        of tourists who come to visit the city.
      </p>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Reservation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


              <div class="card-body text-dark">
                <p class="card-text">
                  Address: Trg žrtava genocida u Srebrenici

                  <br>
                  Phone: 035 258-408
                  <br>
                  Email:
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Gallery
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <img class="zoom" src="https://4.bp.blogspot.com/-51z5gZlOPSk/WRHdHfu7OyI/AAAAAAABU_Y/nbL9PPgZuVsa8IbdIrLeW7WtPyyOOzbagCLcB/s640/DSC06119.JPG"
              alt="">
            <img class="zoom" src="https://2.bp.blogspot.com/-t9BveP_7dXM/WRHfWIPQ_zI/AAAAAAABU_w/gwxXEyEWyXkc1BZI92srhgf1PrD-yVDiwCLcB/s640/DSC06117.JPG"
              alt="">
            <img src="https://1.bp.blogspot.com/-Dcb2uU_tZqw/WRHf_NZqDyI/AAAAAAABU_8/MytlVK4iDRYmWKAwmcPlrMToM-ptm0TAQCLcB/s640/DSC06126.JPG"
              alt="" class="zoom">
            <img src="https://1.bp.blogspot.com/-6KpitJhpWsY/WRHhL9NBNOI/AAAAAAABVAI/XE44lwGR3VIqr627BFZ63vGXja3HElvCgCLcB/s640/DSC06130.JPG"
              alt="" class="zoom">
          </div>
        </div>
      </div>
    </div>


    <div id="box1" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">Heartland</h3>
      <button class="btn btn-info"><a target="_blank" href="http://heartland.ba/">Website</a></button>
      <img src="https://tztz.ba/ba/wp-content/uploads/2018/07/heartland.jpg" alt="Heartland">
      <p>
        It will be a pleasure to welcome you to our newly opened City Hotel located in center of Tuzla, at Kazanmahala
        number 10. Our hotel is a restaurant and cafe pizzeria in one, which makes Heartland one of the leading hotels
        in the region. It is located in the city center, 300 meters from the spa Aqua Bristol, which offers a
        traditional salt water healing. Hotel is located 200 meters from the Pannonian lake with healing salt water.
      </p>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Reservation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


              <div class="card-body text-dark">
                <p class="card-text">
                  Address: Kazanmahala 10, Tuzla

                  <br>
                  Phone: +387 35 255 111
                  <br>
                  Email: info@heartland.ba
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Gallery
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <img class="zoom" src="http://heartland.ba/wp-content/uploads/2016/10/IMG_0623-1.jpg" alt="">
            <img class="zoom" src="http://heartland.ba/wp-content/uploads/2016/10/IMG_0619.jpg" alt="">
            <img src="http://heartland.ba/wp-content/uploads/2016/10/IMG_0612-1.jpg" alt="" class="zoom">
            <img src="http://heartland.ba/wp-content/uploads/2016/10/DSCF0516_resize_resize.jpg" alt="" class="zoom">
          </div>
        </div>
      </div>
    </div>


    <div id="box1" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">Panonski lovac</h3>
      <button class="btn btn-info"><a target="_blank" href="https://www.facebook.com/PanonskiLovac/">Website</a></button>
      <img src="https://tztz.ba/ba/wp-content/uploads/2018/07/lovac.jpg" alt="Panonski lovac">
      <p>
        On the third Pannonian Lake there is a restaurant ' Panonski Lovac ' which offers a rich gastronomic offer,
        beautiful interior, parking, two summer gardens. The restaurant organizes New Year's celebrations, birthdays,
        weddings, graduations, March 8th and all other forms of entertainment and celebrations with live music. <br><br><br>
      </p>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Reservation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


              <div class="card-body text-dark">
                <p class="card-text">
                  Address: Džindić Mahala 13

                  <br>
                  Phone: + 387 62 154 433
                  <br>
                  Email: panonica@bih.net.ba
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Gallery
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <img class="zoom" src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/45694384_1291665107642366_3936542899235192832_o.jpg?_nc_cat=104&_nc_ht=scontent.fsjj2-1.fna&oh=f22e5c62a6647c1ec11cf2b7351a6023&oe=5C6959B4"
              alt="">
            <img class="zoom" src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/44933249_1285219771620233_3320633997599440896_o.jpg?_nc_cat=100&_nc_ht=scontent.fsjj2-1.fna&oh=d479f78ae6f1817777748ab668da15f1&oe=5C854658"
              alt="">
            <img src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/44838466_1284686888340188_3349753721247498240_o.jpg?_nc_cat=110&_nc_ht=scontent.fsjj2-1.fna&oh=f52d7fa5185cb6efe0c38d1524932583&oe=5C743F9D"
              alt="" class="zoom">
            <img src="https://scontent.fsjj2-1.fna.fbcdn.net/v/t1.0-9/43701069_1275412499267627_1534828218450706432_o.jpg?_nc_cat=109&_nc_ht=scontent.fsjj2-1.fna&oh=1964037773f6096080cb19bc9080d895&oe=5C7B6A58"
              alt="" class="zoom">
          </div>
        </div>
      </div>
    </div>



    <!-- <div id="box" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">So i Sol Hotel</h3>
      <button class="btn btn-info"><a target="_blank" href="http://www.soisolhotel.ba/">Website</a></button>
      <img src="https://tztz.ba/ba/wp-content/uploads/2018/08/soisol.jpg" alt="So i Sol Hotel">
      <p>
        Accommodation capacity of the hotel is 7 modern rooms, of which 6 are with terrace. Buffet / continental breakfast is served from 07:30 until 10:00. Smoking is not allowed in the rooms. Reception services are available from 08:00 to 22:00, until you can make reservations. Children are welcome. Pets are not allowed. The price of bed and breakfast services includes a residence tax, insurance, parking and VAT.
      </p>
      <div class="card border-dark mb-3" style="max-width: 95%;">
        <div class="card-header">Reservation</div>
          <div class="card-body text-dark">
            <p class="card-text">
              Address: Aleja Alija Izetbegović no. 3
              <br>
              Phone: +387 35 365 500
              <br>
              Email: info@mellainhotel.com
            </p>
          </div>
        </div>
      </div> -->


  </div>
</div>