
 <app-navbar></app-navbar>
    <!-- Tuzla history attractions map-->
 <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-3">
                <h1>Tuzla attractions map</h1>
            </div>
        </div>
           
    <div class="row">
         <div class="col-xl-12">
                <iframe style="border: 1px solid black" width="100%" height="700" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.539832755719104&lng=18.674338033282538&vz=16&type=hybrid&ti&s&width=550&height=400&id=4jRDAGTctH" style="border:0; max-width: 100%;" allowfullscreen allow="geolocation"></iframe>
         </div>
    </div>

     <!-- Lists of history attractions map-->
    <div class="list-group" style="border-bottom: 15px;">
  
            <a href="" class="list-group-item list-group-item-action">1. Slobode square</a>
            <a class="list-group-item list-group-item-action">2. Youth center</a>
            <a class="list-group-item list-group-item-action">3. Museum of Eastern Bosnia</a>
            <a class="list-group-item list-group-item-action">4. Arheological park</a>
            <a class="list-group-item list-group-item-action">5. Museum Geological setting 'Panonica'</a>
            <a class="list-group-item list-group-item-action">6. City Park</a>
            <a class="list-group-item list-group-item-action">7. Atelier Ismet Mujezinović</a>
            <a class="list-group-item list-group-item-action">8. International Portrait Gallery </a>
            <a class="list-group-item list-group-item-action">9. Religious objects </a>
          </div>
   
</div>
<app-footer></app-footer>

   
