<section class="container bg-info">
  <ul id="services">
    <h3>Follow us on social media</h3>
    <li>
      <div class="facebook">
        <a href="https://www.facebook.com/tzgradatuzla" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <span>Facebook</span>
    </li>
    <li>
      <div class="twitter">
        <a href="https://twitter.com/tzgradatuzla" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
      <span>Twitter</span>
    </li>
    <li>
      <div class="youtube">
        <a href="https://www.youtube.com/channel/UC81Vp4lyeA1CQQ-CP0dOMTw" target="_blank">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
      <span>YouTube</span>
    </li>

    <li>
      <div class="instagram">
        <a href="https://www.instagram.com/tzgradatuzla/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
      <span>Instagram</span>
    </li>

  </ul>

</section>