<div class="container">
    <h2 class="text-center">Actuel News</h2>
    <hr>
    <div class="row">
        <div class="col-md-6  featcard">
          <div class="card bg-dark text-white">
                  <img class="card-img img-fluid" src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                  <div class="card-img-overlay d-flex linkfeat">
                    <a href="https://www.klix.ba/magazin/muzika/plavi-orkestar-ce-uvesti-tuzlake-u-2019-godinu-na-trgu-slobode/181110037" target="_blank" class="align-self-end">
                      <span class="badge">Read more</span> 
                      <h4 class="card-title">Celebrating New Year in Tuzla with Plavi Orkestar</h4>
                    </a>
                  </div>
            </div>
        </div>

        <div class="col-md-6  featcard">
            <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="https://images.pexels.com/photos/289330/pexels-photo-289330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                    <div class="card-img-overlay d-flex linkfeat">
                      <a href="http://furaj.ba/klizaliste-panonika-u-tuzli/" target="_blank" class="align-self-end">
                        <span class="badge">Read more</span> 
                        <h4 class="card-title">New season of Ice Skiing</h4>
                      </a>
                    </div>
              </div>
          </div>
        
      </div>

      <div class="row">
          <div class="col-md-6  featcard">
            <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="https://images.pexels.com/photos/109669/pexels-photo-109669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                    <div class="card-img-overlay d-flex linkfeat">
                      <a href="http://nptz.ba/" target="_blank" class="align-self-end">
                        <span class="badge">Read more</span> 
                        <h4 class="card-title">Days of Theatre</h4>
                      </a>
                    </div>
              </div>
          </div>
  
          <div class="col-md-6  featcard">
              <div class="card bg-dark text-white">
                      <img class="card-img img-fluid" src="https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                      <div class="card-img-overlay d-flex linkfeat">
                        <a href="https://tztz.ba/ba/pogledajte-kako-ce-nakon-rekonstrukcije-izgledati-kompleks-slana-banja-u-tuzli-ukupna-vrijednost-radova-oko-450-hiljada-km-imamovic-nas-je-cilj-da-tuzle-bude-najljepsi-i-za-zivot-najudobni/" target="_blank" class="align-self-end">
                          <span class="badge">Read more</span> 
                          <h4 class="card-title">City is getting the new looks</h4>
                        </a>
                      </div>
                </div>
            </div>
          
        </div>

  </div>
