/*HYPER LINK*/
a:hover{
	
}
a, a:focus , a:hover{ 
  text-decoration: none;
  color: inherit;
}
 a:hover, .btn{
	outline:none!important;
}

/*CATEGORIES BADGE*/
.badge {
	font-weight: 600;
	font-size: 13px;
	color: white;
	background-color: #289dcc;
}

.card {
	margin: 10px;
}

