<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center">Map of attractions</h1>
  
  <iframe class="map" src="https://widgets.scribblemaps.com/sm/?d=true&z=true&l=true&id=EiTEixCN70" width="1024" height="720" frameborder="0" title="tuzla" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <div class="list-group">
  
    <a class="list-group-item list-group-item-action">1. Pannonian lakes</a>
    <a class="list-group-item list-group-item-action">2. The central city park</a>
    <a class="list-group-item list-group-item-action">3. Archaeological Park-Neolithic Shared Settlement</a>
    <a class="list-group-item list-group-item-action">4. Sports and recreational complex Slana banja</a>
    <a class="list-group-item list-group-item-action">5. Children's amusement park</a>
    <a class="list-group-item list-group-item-action">6. Flame House of Peace</a>
    <a class="list-group-item list-group-item-action">7. Bingo ZOO</a>
  </div>
</div>
<app-footer></app-footer>


