<div class="container-fluid">
    <div class="title-arch"><h1>Things To Do</h1></div>
    
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project wow animated animated4 fadeInLeft">
            <div class="project-hover">
              <h2>SPORT</h2>
                
                <hr />
                <p>We are the mix of art, sports and marketing. We are the creators of action sport events, 
                    makers of extreme shows and organizers of entertainment activities.</p>
                <a href="http://www.rekreacija.ba/" target="_blank">See More</a>
            </div>
        </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
          <div class="project-hover">
              <h2>ENTERTAIMENT</h2>
                <hr />
                <p>We're more than a musical theatre company. 
                    We offer bespoke pieces of entertainment, themed shows, showgirls, MCs, bands, samba dancers, and so much.</p>
                <a href="http://bingocitycenter.ba/zabava/" target="_blank">See More</a>
            </div>
        </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
          <div class="project-hover">
              <h2>CULTURE</h2>
                <hr />
                <p>Diversity and tolerance keep us competitive. 
                    Respect and integrity guide our behavior and, as an international company, we combine a great diversity of cultures</p>
                <a href="https://centarzakulturutuzla.ba/" target="_blank">See More</a>
            </div>
        </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-4 wow animated fadeInLeft">
          <div class="project-hover">
              <h2>MOVIES</h2>
                <hr />
                <p>Welcome to this CineStar network cinema multiplex. We would like your visit to always be an enjoyable experience.</p>
                <a href="https://www.blitz-cinestar-bh.ba/cinestar-tuzla" target="_blank">See More</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>