<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h2><a class="navbar-brand" href="#">Tuzla Tourist Website </a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
          History
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/history"> Historical Attractions </a>
          <a class="dropdown-item" routerLink="/attractions"> Map of Attractions </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Culture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Transport</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accomodation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Virtual tour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>