<app-navbar></app-navbar>
<div class="container">
<div class="col-md-12">
<h1 class="center">Museum of Eastern Bosnia</h1>


</div>

<div id="demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
</ul>

<!-- The slideshow -->
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="img-fluid center" src="assets/culture-img/mus1.jpg" alt="Los Angeles" width="1100" height="500">
  </div>
  <div class="carousel-item ">
    <img  class="img-fluid center" src="assets/culture-img/mus2.jpg" alt="Chicago" width="1100" height="500">
  </div>
  <div class="carousel-item ">
    <img  class="img-fluid center" src="assets/culture-img/mus3.jpg" alt="New York" width="1100" height="500">
  </div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>
<p id="aboutA">The museum in Tuzla was founded in 1947 as a National Liberation museum. In 1962 it received the name Museum of East Bosnia, which is still holds. Since its beginnings it worked to collect exhibits from the national liberation war, archaeology, art history and mineral riches from northeast Bosnia.

  Museum of East Bosnia holds an archaeological, ethnologica, historical, numizmatic, art and biological collections. Among the 50.000 exhibits, continuity of the past 6500 years of life in Tuzla can be observed.
</p>
<ul class="list-group">International portrait gallery opening hours:
  <li class="list-item-group">Tuesday – Saturday 08:00-15:00</li>
  <li class="list-item-group">Sunday 09:00-13:00</li>
</ul>
<h2>How to ge to museum of Eastern Bosnia?</h2>
<iframe class="center embed-responsive-item" id="frame" width="850" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.54218701921263&lng=18.673790565081845&vz=19&type=custom_style&ti&s&width=550&height=400&id=78FYNhcq5s" style="border:0; max-width: 100%;" allowfullscreen allow="geolocation"></iframe>
</div>
<app-footer></app-footer>