<app-navbar></app-navbar>
<div class="container">
<div class="row">
  <div class="col-lg-2">

  </div>
  <div id="box1" class="col-12 col-sm-12 col-md-12 col-lg-8">
    <h3 class="text-center">Museum of Eastern Bosnia</h3>
    <img src="assets/culture-img/mus3.jpg" alt="Ismet Mujezinovic">
    <p id="aboutA">
        The museum in Tuzla was founded in 1947 as a National Liberation museum. In 1962 it received
        the name Museum of East Bosnia, which is still holds. Since its beginnings it worked to collect
        exhibits from the national liberation war, archaeology, art history and mineral riches from northeast
        Bosnia.Museum of East Bosnia holds an archaeological, ethnologica, historical, numizmatic, art and biological
        collections. Among the 50.000 exhibits, continuity of the past 6500 years of life in Tuzla can be observed.
    </p>
    <div class="card border-dark mb-3" style="max-width: 95%;">
      <div class="card-header">Information</div>
      <div class="card-body text-dark">

        <i class="far fa-address-card"></i> Address:<a href="https://www.google.com/maps/place/Museum+of+Eastern+Bosnia/@44.5412538,18.6737141,16.5z/data=!4m12!1m6!3m5!1s0x475ead1f1ebba147:0xfb185fdc0ea00ee!2sMuseum+of+Eastern+Bosnia!8m2!3d44.5421809!4d18.6737707!3m4!1s0x475ead1f1ebba147:0xfb185fdc0ea00ee!8m2!3d44.5421809!4d18.6737707">
          Dzindic mahala, 22</a>
        <br>
        <i class="fas fa-phone-square"></i> Phone:<a href="tel:+1-303-499-7111"> +1 (303) 499-7111</a>
        <br>
        <i class="fas fa-envelope"></i> email: <a href="mailto:info@mellainhotel.com"> easternbmsm@gmail.com</a>
        <br>
        <br>
        <h6>Admission: free</h6>
        <br>
        <ul class="list-group" style="list-style-type:none">
          <h5>Opening hours:</h5>
          <li class="list-item-group">Tuesday – Saturday 08:00-15:00</li>
          <li class="list-item-group">Sunday 09:00-13:00</li>
        </ul>
        <h4>Closed now!</h4>

      </div>
    </div>
    
    <h2 class="center">How to get to museum?</h2>
    <iframe class="center embed-responsive-item" id="frame" width="850" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.54217172559438&lng=18.673812022753964&vz=18&type=custom_style&ti&s&width=550&height=400&id=yYkIrGkWsR"
     style="border:0; max-width: 100%;" allowfullscreen allow="geolocation"></iframe>
    
      <div class="col-lg-2"></div>
  </div>
</div>
  <app-footer></app-footer>