<div class="container">
        <div class="row">
           
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">							
                    <div class="icon">
                        <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                        <div class="info">
                            <h4 class="title">Top Attractions</h4>
                            <p>
                                    Find things to do near you. Explore the top-rated attractions, tours, and activities nearby and read reviews.
                            </p>
                            <div class="more">
                                <a [routerLink]="['/sights/attractions']" routerLinkActive="router-link-active"  title="Title Link">
                                    Read More <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div> 
            </div>
                
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">							
                    <div class="icon">
                        <div class="image"><i class="fa fa-flag"></i></div>
                        <div class="info">
                            <h4 class="title">Travel Guides</h4>
                            <p>
                                    Find safety information, security requirements, rules for flying with pets, and helpful tips when traveling by air with children.
                            </p>
                            <div class="more">
                                <a [routerLink]="['/airports']" routerLinkActive="router-link-active"  title="Title Link">
                                    Read More <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div> 
            </div>
                
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">							
                    <div class="icon">
                        <div class="image"><i class="fa fa-desktop"></i></div>
                        <div class="info">
                            <h4 class="title">Art & Design</h4>
                            <p>
                                    Here are the Tuzla's best art galleries that are the next generation of artists who will change culture forever.
                            </p>
                            <div class="more">
                                <a [routerLink]="['/galleries']" routerLinkActive="router-link-active"  title="Title Link">
                                    Read More <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div> 
            </div>		    
           
        </div>
    </div>