<app-navbar></app-navbar>
<div class="container">

<h1 class="center">International atelier "Ismet Mujezinovic"</h1>
</div>
<div class="row">
<div class=" col-lg-9 col-md-9 col-sm-12">
<div id="demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
</ul>

<!-- The slideshow -->
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="img-fluid center" src="assets/culture-img/at1.jpg" alt="Los Angeles" >
  </div>
  <div class="carousel-item ">
    <img  class="img-fluid center" src="assets/culture-img/at22.jpg" alt="Chicago">
  </div>
  <div class="carousel-item ">
    <img  class="img-fluid center" src="assets/culture-img/atelje.jpg" alt="New York" >
  </div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>

</div>
</div>
<br>
<div class="rest-right col-lg-3 col-md-2 col-sm-12">
  <div>
    <h5>Adress</h5>
  <i class="fas  fa-map-marker-alt"> </i> Klosterska 13, Tuzla 75000 <br>
</div>
<hr>
<div class="info">
<div class="left">
  <h5>Mail</h5>
  <i class="fas fa-envelope-open "></i> <a href="mailto:galllerytuzla@outlook.com"> galllerytuzla@outlook.com  </a>
</div>
<hr> 
<h5>Website</h5>
<div class="left">
  <i class="fas fa-home "></i> <a href="" target="_blank"> https://centarzakulturutuzla.ba  </a>
</div>
<hr>
  <div class="left">
   <h5>Contact</h5>
    <i class="fas fa-phone "></i>+387 35 252 002</div>
  </div>
  <br>
 
  <hr>
  <div>
  <ul class="list-group">Opening hours:
      <li class="list-item-group">Tuesday – Saturday 08:00-15:00</li>
      <li class="list-item-group">Sunday 09:00-13:00</li>
    </ul>
</div>
</div>




  <br>
  
  <div>
    <div class="row">
    <div class="col">
  <p id="aboutA">
    The International Atelier "Ismet Mujezinović" is unique because it has lived and worked in one of the most important artists of Bosnia and Herzegovina,
    cultural workers and painter Ismet Mujezinović, and members of his family gave his house and ateliers the City. Atelier Ismet Mujezinović is a separate art workshop within the Gallery,
    which gathers artists from all the meridians of the world, based on the personal invitation of the Art Council of the Gallery as well as on the principle of a competition launched through national art associations.
    Staying in the International Atelier involves six months' stay and the work of fine artists, as well as the organization of an independent exhibition of works created during the stay in Tuzla.
    Numerous art workshops are held in the studio, and an apartment is also available where artists from all over Europe come 2 to 3 times a year. This is where concerts, exhibitions, book promotions,
    and the atelier garden in the city center is a convenient place to organize and many other events. collections
   
   The Gallery Ismet Mujezinović was established on December 2, 1982 within the gallery of portraits, which includes drawings, watercolors, graphics and paintings created in the period from 1925 to the end of the eighth century of the twentieth century.
   
   Ismet Mujezinović was born on December 2, 1907 in Tuzla, where he died on 7 January 1984. He finished the Royal Academy of Arts and Crafts in Zagreb in 1929. Between 1931 and 1933 she has been in France where she graduated from the department of art history at Sorbonne. During his stay in France, he visits museums and galleries, the studios of French painters - Lota, Ortis and others. When returning from France, she lives in Zagreb, Bijeljina and Tuzla. It is being held in Sarajevo where the art associations "Four" and "Circle", "Colegium artisticum" are formed, in which the actions are significantly engaging. He participates in the NOB as a fighter, propagandist, journalist, actor, director.    
   During the First Session of AVNOJ, she decorates the hall where the session was held. Illustrates the first Andrić's works. He is one of the initiators for the establishment of the State School of Painting in Sarajevo. With a group of Yugoslav artists in 1946/47 and 1977, he participates in the portrayal of Titus. In 1953 he moved from Sarajevo to Tuzla where he worked on large figurative compositions from the NOB. He had a large number of solo and collective exhibitions in the country and abroad. He was a regular member of the Academy of Sciences and Arts of Bosnia and Herzegovina, a member of the Yugoslav Federation of Science and Art in Zagreb, a member of the Council of the Federation, and the first honorary doctor of the University of Tuzla and one of the founders of the Gallery of Tuzla Portraits.    
  </p>
  </div>
  <div class="col">
      <p id="aboutA" >
          Tito in the works of fine artists The permanent setting of "Tito in the works of art artists" is a spontaneous initiative of the embedded activity of the International Gallery of Tuzla portraiture, 
          the realization of creative enthusiasm for the neglected significant theme of portraiture of artistic creativity, the most promising and the most profitable contribution to humanistic living in the joy of creativity.
           Contemporary Portrait Collection The cover of the works was created at the end of the nineteenth century, as well as during the twentieth century, and the dominant whole is the accomplishments of the seventh decade. 
           These are mostly works that have been presented at the great revival exhibitions of the South Slavic people since 1967, of which a valuable collection of drawings, graphics, watercolors, oil and sculptures of distinct aesthetic aesthetic validity,
            with respect to all generational, stylistic and art-problem orientations. Sculpture Collection The Collection of Contemporary Portraits is a collection of sculptures. This collection includes works by Koste Angeli Radovania, 
            Ibrahim Bilajac, Stevan Bodnar, Branko Ružić, Ivana Sabolić, Stipe Sikirica, Dragiša Trifkovic, Marija Ujević, Vanja Raduša, Franjo Leder, Aleksandar Zarin, Zdenko Grgić, Vjekoslava Rukljača and others.
             Adela Behr Vukić Collection Collection of Drawings, Graphics, Watercolors and Oil Adele Behr Vukić, the first women of painters in Tuzla and Bosnia and He
              is the most complete collection of this artist whose significant creative piece is a graphic opus for which it has a pioneering role in forming the artistic atmosphere of Bosnia and Herzegovina from the beginning of the twentieth century.
               James Pinta Legat Haima Jimmy Pinta was established in 1987 with the donation of the artist himself and his sisters Erne Englander and Nade Milland. Legat includes 117 drawings, graphics, paintings and sculptures. With this link,
                the art gallery of the International Portrait Gallery and the extended dimension of her professional interest have been greatly enhanced. General Collection This collection contains works by Ismet Mujezinović, Rodoljub Anastas, Adele Behr Vukić,
                 Nezir Čorbić, Mensura Dervišević, Kosta Hakman, Ljube Laha, Omer Mujadžić, Ismara Mujezinović, Sigo Sumereckera, Ive Šeremeta, Nesima Tahirović and others. The International Collection of Portraits of INTERBIFEP It is a separate segment that challenges the subject of drawings in the field of drawings and graphics.
                  It was born in 1980. This collection includes works by artists from different cultural centers of Europe, Asia, Africa, America and the area of ​​the former Yugoslavia.    </p>
      </div>
    </div>
    
  
</div>
  <h2 class="center">How to get to international atelier?</h2>
  <iframe class="center embed-responsive-item" width="850" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.537050049250425&lng=18.6809869318688&vz=19&type=custom_style&ti&s&width=550&height=400&id=LoLaX_pzt7" style="border:0; max-width: 100%;" allowfullscreen allow="geolocation"></iframe> 
 </div>
<app-footer></app-footer>