<app-navbar></app-navbar>
<div class="container">
  
  <div class="row">
    

    <!-- Hotel Mellain -->

    <div id="box1" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">International atelier "Ismet Mujezinovic"</h3>
      <img src="assets/culture-img/at1.jpg" alt="Ismet Mujezinovic">
      <p id="aboutA">
        The international atelier "Ismet Mujezinovic" is unique that there lived and worked one of the most
        important Bosnian artist, cultural worker and painter Ismet Mujezinovic. Family members donated his
        house and atelier to the City of Tuzla. Staying at the International Atelier means a six-month stay
        and work of fine artists, as well as organizing a solo exhibition of works created during the stay
        in Tuzla. A number of art workshops are held in the studio, an apartment is also equipped in which
        artists from all over Europe come 2 to 3 times a year. It is a place where concerts, exhibitions,
        promotional books, art galleries in the center of the city are organized, a place for organizing and
        many other events.
      </p>
      <div class="card border-dark mb-3" style="max-width: 95%;">
        <div class="card-header">Information</div>
        <div class="card-body text-dark">

          <i class="far fa-address-card"></i> Address:<a href="https://www.google.com/maps/place/Atelje+Ismet+Mujezinovi%C4%87/@44.5369385,18.6808649,19.5z/data=!4m13!1m7!3m6!1s0x475ead03ad64e779:0xa667fa80a17fd8cb!2sTuzla!3b1
            !8m2!3d44.5374611!4d18.6734687!3m4!1s0x475ead2487e165c3:0xf613d0f52e681f3c!8m2!3d44.5369584!4d18.6810044">
            Klosterska bb</a>
          <br>
          <i class="fas fa-phone-square"></i> Phone:<a href="tel:+1-303-499-7111"> +1 (303) 499-7111</a>
          <br>
          <i class="fas fa-envelope"></i> email: <a href="mailto:info@mellainhotel.com"> atelierIsmet@gmail.com</a>
          <br>
          <br>
          <h6>Admission: free</h6>
          <br>
          <ul class="list-group" style="list-style-type:none">
            <h5>Opening hours:</h5>
            <li class="list-item-group">Tuesday – Saturday 08:00-15:00</li>
            <li class="list-item-group">Sunday 09:00-13:00</li>
          </ul>
          <h4>Closed now!</h4>

        </div>
      </div>
      
      <h2 class="center">How to get to international atelier?</h2>
      <iframe class="center embed-responsive-item" id="frame" width="850" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.537050049250425&lng=18.6809869318688&vz=19&type=custom_style&ti&s&width=550&height=400&id=LoLaX_pzt7"
        style="border:0; max-width: 100%;" allowfullscreen allow="geolocation"></iframe>
    </div>
    <div id="box1" class="col-12 col-sm-12 col-md-12 col-lg-6">
      <h3 class="text-center">International portrait gallery</h3>
      <img src="assets/culture-img/ga.jpg" alt="portrait gallery">
      <p class="info" id="aboutA">
        Over the last three decades the Gallery emerged as a fine arts institution of considerable
        importance organizing review exhibitions of contemporary portraits and retrospective exhibitions
        of the most famous artists from Bosnia and Herzegovina. The Portrait Gallery also organizes the
        well-known exhibition “Tuzlanski salon 2x13”, as well as exhibitions of works by young
        artists in the Gallery Club. The Gallery expanded the range of its activities by creating the
        first biennial festival of drawings and graphics INTERBIFEP, an international event taking place
        in Bosnia and Herzegovina and one of the four of this kind in former Yugoslavia. Thanks to its regular
        and part-time activities the Gallery has gathered several valuable collections.
      </p>
      <div class="card border-dark mb-3" style="max-width: 95%;">
        <div class="card-header">Information</div>
        <div class="card-body text-dark">
          <i class="far fa-address-card"></i> Address: <a href="https://www.google.com/maps/place/Me%C4%91unarodna+galerija+portreta/@44.535889,18.6867184,20z/data=!4m13!1m7!3m6!1s0x475ead03ad64e779:0xa667fa80a17fd8cb!2sTuzla!
            3b1!8m2!3d44.5374611!4d18.6734687!3m4!1s0x475ead2f8365de91:0x4576f5a8ae676a8a!8m2!3d44.5359503!4d18.687083">
            II Tuzlanske brigade 44 </a>
          <br>
          <i class="fas fa-phone-square"></i> Phone: <a href="tel:+1-303-499-7111"> +1 (303) 499-7111</a><br>
          <i class="fas fa-envelope"></i> email:<a href="mailto:info@mellainhotel.com"> portrait@gmail.com</a>
          <br>
          <br>
          <h6>Admission: free</h6>
          <br>
          <ul class="list-group" style="list-style-type:none">
            <h5>Opening hours:</h5>
            <li class="list-item-group">Tuesday – Saturday 08:00-15:00</li>
            <li class="list-item-group">Sunday 09:00-13:00</li>
          </ul>
          <h4>Closed now!</h4>
        </div>
      </div>
      <h2 class="center">How to get to portrait gallery?</h2>
      <iframe class="center embed-responsive-item" id="frame" width="850" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.537050049250425&lng=18.6809869318688&vz=19&type=custom_style&ti&s&width=550&height=400&id=LoLaX_pzt7"
        style="border:0; max-width: 100%;" allowfullscreen allow="geolocation"></iframe>
    </div>
  </div>
</div>


<app-footer></app-footer>
