<app-navbar></app-navbar>
<div class="container">
 <div class="col-md-12">
<h1 class="center">International atelier "Ismet Mujezinovic"</h1>


</div>

<div id="demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
</ul>

<!-- The slideshow -->
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="img-fluid center" src="assets/culture-img/at1.jpg" alt="Los Angeles" width="1100" height="500">
  </div>
  <div class="carousel-item ">
    <img  class="img-fluid center" src="assets/culture-img/at22.jpg" alt="Chicago" width="1100" height="500">
  </div>
  <div class="carousel-item ">
    <img  class="img-fluid center" src="assets/culture-img/atelje.jpg" alt="New York" width="1100" height="500">
  </div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>
<p id="aboutA">

  Međunarodni atelje “Ismet Mujezinović” jedinstven po tome što je u njemu živio i radio jedan od najznačajnijih bosanskohercegovačkih umjetnika, kulturnih radnika i slikara Ismet Mujezinović, te su članovi porodice njegovu kuću i atelje poklonili Gradu.
  
  Atelje Ismet Mujezinović je zasebna umjetnička radionica u okviru Galerije, koja okuplja umjetnike sa svih meridijana svijeta, na osnovu ličnog poziva Umjetničkog savjeta Galerije kao i na principu konkursa raspisanog preko nacionalnih umjetničkih udruženja. Boravak u Međunarodnom ateljeu podrazumijeva šestomjesečni boravak i rad likovnih umjetnika, kao i organizaciju samostalne izložbe radova nastalih tokom boravka u Tuzli.
  
  U ateljeu se održavaju brojne likovne radionice, a osposobljen je i apartman u koji 2 do 3 puta godišnje dolaze umjetnici iz cijele Evrope.To je mjesto gdje se organizuju koncerti, izložbe, promocije knjiga, a bašta ateljea u centru grada prigodno je mjesto za organizaciju i mnogih drugih događaja.
  
  Kolekcije
  
  Galerija Ismet Mujezinović ustanovljena je 2. decembra 1982. godine u okviru galerije portreta, koja obuhvata crteže, akvarele, grafike i slike umjetnika nastalih u periodu od 1925. godine do kraja osme decenije dvadesetog vijeka.
  
  Ismet Mujezinović je rođen 2. decembra 1907. godine u Tuzli, gdje je i umro 7. januara 1984. godine. Završava Kraljevsku akademiju za umjetnost i umjetni obrt u Zagrebu 1929. godine. U periodu od 1931. do 1933. godine boravi u Francuskoj gdje upisuje postdiplomski studiji odsjek historija umjetnosti na Sorboni. Za vrijeme boravka u Francuskoj posjećuje muzeje i galerije, ateljee francuskih slikara – Lota, Ortisa i drugih. Po povratku iz Francuske boravi u Zagrebu, Bijeljini i Tuzli. Nastanjuje se u Sarajevu gdje se formiraju umjetnička udruženja „Četvorica“ i „Krug“, „Colegium artisticum“ u čijim se akcijama značajno angažuje. U NOB-u učestvuje kao borac, propagandista, novinar, glumac, reditelj.
  
  Za vrijeme Prvog zasjedanja AVNOJ-a dekoriše dvoranu u kojoj je održano zasjedanje. Ilustruje prva Andrićeva djela. Jedan je od incijatora za osnivanje Državne škole za slikarstvo u Sarajevu. S grupom jugoslovenskih umjetnika 1946/47 i 1977. učestvuje u portretisanju Tita. Godine 1953. prelazi iz Sarajeva u Tuzlu gdje radi na velikim figuralnim kompozicijama iz NOB-a . Imao je veliki broj samostalnih i kolektivnih izložbi u zemlji i inostranstvu. Bio je redovan član Akademije nauka i umjetnosti Bosne i Hercegovine, dopisni član Jugoslovenske znanosti i umjetnosti u Zagrebu, član Savjeta Federacije, te prvi počasni doktor nauka Univerziteta u Tuzli i jedan od osnivača Galerije portreta Tuzla.
  
  Tito u djelima likovnih umjetnika
  
  Stalna postavka „Tito u djelima likovnih umjetnika“, spontana je inicijativa ugrađenog čina djelatnosti Međunarodne galerije portreta Tuzla, oživotvorenje stvaralačkog zanosa zapostavljene značajne teme likovnog stvaralaštva portreta, najupečatljiviji i najbogatiji doprinos usmjeravaju humanističkog življenja u radosti stvaralaštva.
  
  Kolekcija savremenog portreta
  
  Obuhvata djela nastala još s krajem devetnaestog, kao i tokom dvadesetog vijeka, a dominantnu cjelinu čine ostvarenja nastala potkraj sedme decenije. To su uglavnom djela koja su prezentirana na velikim revijalnim izložbama južnoslovenskih naroda počev od 1967, od kojih se formirala vrijedna zbirka koja obuhvata crteže, grafike, akvarele, ulja i skulpture zasebne llikovne estetske validnosti uz uvažavanje svih generacijskih, stilskih i likovno – problemskih usmjerenja.
  
  Kolekcija skulptura
  
  U sklopu “Kolekcije savremenog portreta” je i kolekcija skulptura. Ova kolekcija sadrži radove: Koste Angeli Radovania, Ibrahima Bilajaca, Stevana Bodnarova, Branka Ružića, Ivana Sabolića, Stipe Sikirice, Dragiše Trifkovića, Marija Ujevića, Vanja Raduša, Franje Ledera, Aleksandra Zarina, Zdenka Grgića, Vjekoslava Rukljače i drugih.
  
  Kolekcija Adela Behr Vukić
  
  Kolekcija crteža, grafika, akvarela i ulja Adele Behr Vukić, prve žene slikara u Tuzli i Bosni i Hercegovini, najkompletnija je zbirka ove umjetnice čiju značajnu stvaralačku cjelinu predstavlja grafički opus po kojem njoj pripada pionirska uloga u formiranju umjetničke atmosfere Bosne i Hercegovine s početka dvadesetog vijeka.
  
  Kolekcija James (Haim) Pinto
  
  Legat Haima Džemsa Pinta ustanovljen je 1987. godine donacijom samog umjetnika i njegovih sestara Erne Englander i Nade Milland. Legat obuhvata 117 crteža, grafika, slika i skulptura. Ovim legatom u značajnoj mjeri je obogaćen umjetnički fondus Međunarodne galerije portreta, a time i proširene dimenzije njenog profesionalnog interesa.
  
  Opća zbirka
  
  Ova kolekcija sadrži radove: Ismeta Mujezinovića, Rodoljuba Anastasova, Adele Behr Vukić, Nezira Čorbića, Mensura Derviševića, Kosta Hakman, Ljube Laha, Omera Mujadžića, Ismara Mujezinovića, Sigo Sumereckera, Ive Šeremeta, Nesima Tahirovića i drugih.
  
  Internacionalna zbirka portreta INTERBIFEP
  
  Ona čini zaseban segment koji problematizira temu portreta u oblasti crteža i grafike. Nastala 1980 godine. Ova kolekcija obuhvata radove umjetnika iz različitih kulturnih središta Evrope, Azije, Afrike, Amerike kao i sa prostora bivše Jugslavije.
  </p>
  <iframe  class="center embed-responsive-item"  id="frame" width="850" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&l&gc&af&mc&lat=44.53687798063309&lng=18.68101375395895&vz=18&type=hybrid&ti&s&width=550&height=400&id=jGJwnI5gck" style="border:0; max-width: 100%;" allowfullscreen allow="geolocation"></iframe>
</div>
<app-footer></app-footer>