<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center">Tuzla City map</h1>
  <p>
    A map of Tuzla is a valuable tool to use as you plan your trip, but it's also really helpful once you arrive. With this Tuzla map, you'll be able to find your way around more easily (and wander without fear of getting totally lost!), and plan your days in Tuzla more effectively.
  </p>
  <iframe class="embed-responsive" width="1024" height="720" src="http://cityguide360.ba/panorama/home/map-category/ba/"></iframe>
  

</div>
<app-footer></app-footer>