<div class="container">

    <h1 class="my-4 text-center ">Our Gallery</h1>

    <div class="row text-center text-lg-left">

      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/773471/pexels-photo-773471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/157213/pexels-photo-157213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/258447/pexels-photo-258447.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/272745/pexels-photo-272745.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/5166/city-road-street-italy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/415388/pexels-photo-415388.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/53300/pexels-photo-53300.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/411472/pexels-photo-411472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/358394/pexels-photo-358394.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/350785/pexels-photo-350785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail thumbnail zoom" src="https://images.pexels.com/photos/373934/pexels-photo-373934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260/640x426" alt="">
        </a>
      </div>
    </div>

  </div>
