h4, p {
    border: 1px seashell solid;
}

h1, h4 {
    text-align: center;
    margin-top: 80px;
}

.container {
    box-sizing: border-box;
    background: lightgrey;
 
}

#contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
}
