<div class="mb-2">
    <h1 class="text-center py-2"> Rent a Car </h1> 
<div id="backgroundColorAndBorderAirports" class="row mx-auto" style="width:75%">
<div class="col-sm">
    <span class="float-left">    
        <div>
      <h2> Perfect </h2>
    </div>
      <div class="float-left">
      <img src="../../../../../assets/logoPerfect.png" class="img-fluid" alt="Logo Perfect">
    </div>
    <p class="mx-3">Perfect doo Tuzla je renomirana rent a car agencija, pozicionirana u samom vrhu bosansko-hercegovačkog tržišta, 
      koja svoje postojanje zasniva na dugogodišnjem školovanju, iskustvu, znanju i radu menadžmenta i uposlenika. 
      Vodeću poziciju osiguravaju nam znanje, pouzdanost, iskustvo, tradicija, inovativnost i praćenje svjetskih trendova 
      automobilske industrije i ugodnog/sigurnog putovanja. Mi smo stručan i ljubazan, mladi tim ljudi, koji će u svakom trenutku izaći 
      u susret klijentu i učiniti sve da bude zadovoljan nasim uslugama. U prilog ovome govori veliki broj stalnih klijenata, 
      koji nam redovno ukazuju svoje povjerenje birajući vozilo iz naše ponude.Sjedište firme nalazi se u Tuzli, a najam vozila možete 
      realizovati kako u centrali, tako i u poslovnici na Međunarodnom aerodromu Tuzla, kao i na zahtev, u bilo kojem gradu BiH i Evrope. 
      Poučeni istančanim željama dugogodišnjih klijenata, koncentrisali su se na rent a car usluge koje zadovoljavaju i najzahtjevnije klijente.
       Vozni park se sastoji od potpuno novih vozila svih kategorija. Sva vozila su full kasko osigurana, bez učešća u šteti, 
       posjeduju opstu i mobilnu garanciju, svu zakonom propisanu opremu i ne prelaze starosnu dob od 2 godine.
        U floti na raspolaganju vam nude putničke automobile renomiranih svjetskih proizvođača koji pružaju apsolutni komfor, 
        sigurnost i brzinu, kako u gradskoj, tako i vangradskoj vožnji.
        <div id="contactRentCar" class="mb-2">
          <p class="px-2"> <b>Telephone:</b> 000000 <br>
            <b>Email: </b> majfdjf@gmail.com <br>
            <b>Address: </b> 18. Hrvatske brigade Tuzla 75000 <br> </p>
            <button type="button" role="button" class="btn btn-success" > Website </button> 
        </div>
  </span>
</div>
</div>
<div id="backgroundColorAndBorderAirports" class="row mx-auto" style="width:75%">
    <div class="col-sm">
    <span class="float-left">
        <div>
            <h2> Intercar </h2>
          </div>
            <div class="float-left pr-2">
            <img src="../../../../../assets/logoIntercar.png" class="img-fluid" alt="Logo Intercar">
          </div>
        <p class="mx-3">Intercar je rent a car agencija pozicionirana u samom vrhu bosansko-hercegovačkog tržišta.
            Promišljenom organizacijom poslovanja i iskusnom mrežom saradnika u mogućnosti su
            rent a car uslugama kvalitetno pokrivati čitavo područje BiH, a na vaš zahtjev će
            organizirati najam vozila i u ostalim dijelovima Evrope.Nude potpunu mobilnost i transfere po optimalnim 
            uvjetima za korisnike.Takođe Intercar ima saradnju sa svim aerodromima u regionu 
            (Sarajevo, Beograd, Zagreb, Split,Dubrovnik) i
             vrši dostavu i preuzimanje vozila na spomenutim odredištima. Intercar je rent a car agencija
              pozicionirana u samom vrhu bosansko-hercegovačkog tržišta 
             od 2001. godine. Vodeću poziciju osiguravaju nam znanje, pouzdanost, iskustvo, tradicija, inovativnost i 
             praćenje svjetskih trendova u inovacijama automobilske industrije i putovanjima.
             Promišljenom organizacijom poslovanja i iskusnom mrežom suradnika u mogućnosti smo 
             Rent a car uslugama kvalitetno pokrivati čitavo područje BiH, a na Vaš zahtjev ćemo 
             organizirati najam vozila i u ostalim dijelovima Evrope.
             Intercar nudi svoje usluge u 7 poslovnica u svim važnijim gradovima BiH. 
             Posjedujemo vozni park sa oko 200 najnovijih modela vozila putničkog i teretnog programa iz grupe 
             AUDI, SEAT, VW, ŠKODA, TOYOTA, NISSAN, CHEVROLET, sa maksimalnom opremom prilagođenom zahtjevima poslovnih putovanja. 
             Nudimo potpunu mobilnost i transfere po optimalnim uvjetima za korisnike. 
             Takođe Intercar ima saradnju sa svim aerodromima u regionu (Sarajevo, Beograd, Zagreb, Split, Dubrovnik) i vrši dostavu
              i preuzimanje vozila na spomenutim odredištima. I ne samo to. Na raspolaganju smo Vam 24 sata dnevno svih 365 dana u godini 
              pri čemu Vam garantujemo vrhunski servis  i kompletnu tehničku podršku!
             </p>
             <div id="contactRentCar" class="mb-2">
                <p class="px-2"> <b>Telephone:</b> 000000 <br>
                  <b>Email: </b> majfdjf@gmail.com <br>
                  <b>Address: </b> 18. Hrvatske brigade Tuzla 75000 <br> </p>
                  <button type="button" role="button" class="btn btn-success" > Website </button> 
              </div>
   </span>
</div>
</div>
<div id="backgroundColorAndBorderAirports" class="row mx-auto" style="width:75%">
    <div class="col-sm">
        <span class="float-left">
          <div>
            <h2> Dalton </h2>
          </div>
            <div class="float-left pr-2">
            <img src="../../../../../assets/logoDalton.png" class="img-fluid" alt="Logo Dalton">
          </div>
        <p class="mx-3">U rent a car agenciji Dalton ne postoje granice u smislu kilometara koje možete preći sa vozilima. 
          Vozite se sigurno i udobno gdje god poželite. Ukoliko iznamljujete više vozila, ili jedno vozilo na duži vremenski period,
           odobravaju dodatne popuste. Moguće je iznajmljivanje vozila u jednom smjeru. Vozilo možete preuzeti na jednoj lokaciji, 
           a vratiti ga na potpuno drugoj, onoj koja vama odgovara.
          <div id="contactRentCar" class="mb-2">
              <p class="px-2"> <b>Telephone:</b> 000000 <br>
                <b>Email: </b> majfdjf@gmail.com <br>
                <b>Address: </b> 18. Hrvatske brigade Tuzla 75000 <br></p>
                <button type="button" role="button" class="btn btn-success" > Website </button> 
            </div>
      </span>
    </div>
</div>
</div>